@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.login_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 4%;
    margin-top: 100px;
}

input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid black;
}

.btn-pastelblue  {
    outline:0; 
    font-size:20px;
    font-weight:600;
    font-family: "Cafe24Ssurround";
    background:rgb(142, 165, 235);
    border: rgb(142, 165, 235);
    width: 200px;
    height: 45px;
    border-radius: 2%;
    transition:all .3s ease-out; 
    box-shadow:inset -6px -6px 0 0 rgba(0, 0, 0, 0.102);
  }
  
  .btn-pastelblue:hover{
    color: rgb(63, 61, 100);
  }
  
  .btn-pastelblue:active{
    color:#222;
    box-shadow:inset -6px -6px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 rgba(0, 0, 0, 0.102),
      2px 2px 0 0 rgba(0, 0, 0, 0.102),
      3px 3px 0 0 rgba(0, 0, 0, 0.102),
      4px 4px 0 0 rgba(0, 0, 0, 0.102),
      5px 5px 0 0 rgba(0, 0, 0, 0.102);
  }