<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ profile.catspecies }}
    <p>후기 남기기</p>
    {% csrf_token %}
    <form method="POST">
        <input type="text" placeholder="돌봄 후기를 등록해보세요!" name="review">
        <button type="submit">등록하기</button>
    </form>
    {% for review in reviews %}
    {{ review.text }}
    {% endfor %}
</body>
</html>