{% extends 'base2.html' %}

{% block css %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />

{% endblock css %}


{% block content %}

<div class="profile_box">
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label for="ID">방문객 ID :</label>
            <input type="text" name="username" id="ID">
        </div>
        <div>
            <label for="pwd">비밀번호 :&nbsp;</label>
            <input type="password" name="password1" id="pwd">
        </div>
        <div>
            <label for="pwd2">비밀번호 확인 :&nbsp;</label>
            <input type="password" name="password2" id="pwd2">
        </div>
        <div>
            <label for="nickname">닉네임 :&nbsp;</label>
            <input type="text" name="nickname" id="nickname">
        </div>
        <div>
            <label for="address">거주지 주소 :&nbsp;</label>
            <input type="text" name="address" id="address">
        </div>
        <div>
            <label for="catspecies">고양이 종류 :&nbsp;</label>
            <input type="text" name="catspecies" id="catspecies">
        </div>
        <div>
            <label for="animalnum">반려동물등록번호 :&nbsp;</label>
            <input type="text" name="catnumber" id="catnumber">
        </div>
        <div>
            <div class="button">
                <label for="chooseFile">
                    👉 유저 프로필 사진 👈
                </label>
            </div>
            <input type="file" id="chooseFile" name="userimage" accept="image/*" onchange="loadFile(this)">
        </div>
        <div>
            <div class="button">
                <label for="chooseFile">
                    👉 냥이 프로필 사진 👈
                </label>
            </div>
            <input type="file" id="chooseFile" name="catimage" accept="image/*" onchange="loadFile(this)">
        </div>
        <button type="submit">회원가입</button>
    </form>
</div>

{% endblock content %}


{% block script %}

<script>
    function loadFile(input) {
        var file = input.files[0];	//선택된 파일 가져오기

        //미리 만들어 놓은 div에 text(파일 이름) 추가
        var name = document.getElementById('fileName');
        name.textContent = file.name;

        //새로운 이미지 div 추가
        var newImage = document.createElement("img");
        newImage.setAttribute("class", 'img');

        //이미지 source 가져오기
        newImage.src = URL.createObjectURL(file);

        newImage.style.width = "70%";
        newImage.style.height = "70%";
        newImage.style.visibility = "hidden";   //버튼을 누르기 전까지는 이미지를 숨긴다
        newImage.style.objectFit = "contain";

        //이미지를 image-show div에 추가
        var container = document.getElementById('image-show');
        container.appendChild(newImage);
    };
</script>

{% endblock script %}